[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Thomas Gallaher
	email = thomassgallaher@gmail.com
[init]
	defaultBranch = main
[core]
  pager = delta
	autocrlf = input
[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
  syntax-theme = Dracula
[github]
	user = ThomasStG
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[diff]
  tool = difftastic
  colorMoved = default
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[alias]
  dft = difftool
